body {
    font-family: serif;

}

#app {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 66%;
}
#board {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    width: 350px;
    height: 420px;
    margin: auto;
}

.row {
    display: grid;
    grid-gap: 5px;
}

.row div {
    outline: 1px solid;
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    text-transform: uppercase;
}

div[data-state="present"] {
    background-color: yellow;
}

div[data-state="correct"] {
    background-color: green;
}

div[data-state="incorrect"] {
    background-color: gray;
}

.keyboard {
    height: 200px;
    width: 480px;
    margin: auto;
}

.key-row {
    display: flex;
    width: 110%;
    height: 33%;
}

.key {
    height: 90%;
    width: 80%;
    margin: 5px;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: inherit;
}

.flipping {
    animation: flip 1s forwards ease-in-out;
}

@keyframes flip {
    0%   {transform: rotateX(0); }
    50%  {transform: rotateX(90deg); }
    100%  {transform: rotateX(0); }
}
